html {font-size: 16px;}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: false;
  line-height: 1.65;
}

h1 {
@font-face 
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Varta';
  font-style: normal;
  font-weight: true;
  line-height: 1.15;
  src: url('../fonts/varta-v25-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

p {
  /* open-sans-regular - latin */
@font-face 
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  src: url('../fonts/open-sans-v44-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

small,
.text-small {
  font-size: 0.64em;
}