

body {
	margin: 0;
	border: 0;
	background-color: black;
}

h1 {

@font-face 
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/abeezee-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


h2 {
	@font-face 
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/abeezee-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



p {
	/* afacad-flux-regular - latin */
@font-face 
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Afacad Flux';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/afacad-flux-v4-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  font-size: 1rem;
}


.gridContainer {
	display: grid;
	border: 4px deepskyblue solid;
	border-radius: 5px;
	width: cover;
	height: cover;
	grid-template-columns: repeat(6, 1fr);
	align-content: center;
	gap: .5%;
	
}

.box {
	color: black;
	border-radius: 5px;
	border: 4px black; solid;
	text-align: center;
}
