

body {
	margin: 0;
	border: 0;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2811%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsRadialGradient2812%26quot%3b)'%3e%3c/rect%3e%3cpath d='M755 255L1326 254' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient2813%26quot%3b)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M991 58L470 57' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient2813%26quot%3b)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M1311 476L742 475' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient2813%26quot%3b)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M974 293L49 292' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient2814%26quot%3b)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M75 432L-808 431' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient2813%26quot%3b)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M1199 334L2227 333' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient2814%26quot%3b)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M822 551L-226 550' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient2814%26quot%3b)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M1006 468L1786 467' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient2813%26quot%3b)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M527 115L-401 114' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient2814%26quot%3b)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M771 313L-56 312' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient2813%26quot%3b)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M1275 512L2220 511' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient2813%26quot%3b)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M1176 5L1628 4' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient2813%26quot%3b)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M1082 56L2025 55' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient2814%26quot%3b)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M1077 140L50 139' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient2814%26quot%3b)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2811'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='100%25' cy='50%25' r='1466.97' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient2812'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(202%2c 248%2c 248%2c 1)' offset='0.67'%3e%3c/stop%3e%3cstop stop-color='rgba(202%2c 248%2c 248%2c 1)' offset='0.87'%3e%3c/stop%3e%3cstop stop-color='rgba(58%2c 172%2c 169%2c 0.65)' offset='0.87'%3e%3c/stop%3e%3cstop stop-color='rgba(202%2c 248%2c 248%2c 1)' offset='0.88'%3e%3c/stop%3e%3cstop stop-color='rgba(202%2c 248%2c 248%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient2813'%3e%3cstop stop-color='rgba(228%2c 232%2c 236%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(228%2c 232%2c 236%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient2814'%3e%3cstop stop-color='rgba(228%2c 232%2c 236%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(228%2c 232%2c 236%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
{

}

h1,h2 {
	/* open-sans-regular - latin */

  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v44-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  font-size: 2rem;
}

p {
	
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v49-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  line-height: 1rem;
}



.gridContainer {
	display: grid;
	border: 4px deepskyblue solid;
	border-radius: 5px;
	width: cover;
	height: cover;
	grid-template-columns: repeat(6, 1fr); /* This sets the grid to 6 columns for every row */
	align-content: center;
	gap: .5%;
	
}

.box {
	color: black;
	border-radius: 5px;
	border: 4px black solid;
	text-align: center;
}
