h1 { 
.red-hat-display-<uniquifier> 
   font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; 
}

  p {
  	.tenor-sans-regular 
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}