body {
	margin: 0;
	border: 0;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='250' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1007%26quot%3b)' fill='none'%3e%3crect width='1440' height='250' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1008%26quot%3b)'%3e%3c/rect%3e%3cpath d='M39 250L289 0L454 0L204 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1009%26quot%3b)'%3e%3c/path%3e%3cpath d='M249.60000000000002 250L499.6 0L591.1 0L341.1 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1009%26quot%3b)'%3e%3c/path%3e%3cpath d='M495.20000000000005 250L745.2 0L796.2 0L546.2 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1009%26quot%3b)'%3e%3c/path%3e%3cpath d='M723.8000000000001 250L973.8000000000001 0L1075.8000000000002 0L825.8000000000001 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1009%26quot%3b)'%3e%3c/path%3e%3cpath d='M1407 250L1157 0L1014.5 0L1264.5 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1010%26quot%3b)'%3e%3c/path%3e%3cpath d='M1194.4 250L944.4000000000001 0L888.9000000000001 0L1138.9 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1010%26quot%3b)'%3e%3c/path%3e%3cpath d='M962.8 250L712.8 0L627.3 0L877.3 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1010%26quot%3b)'%3e%3c/path%3e%3cpath d='M718.1999999999999 250L468.19999999999993 0L115.69999999999993 0L365.69999999999993 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1010%26quot%3b)'%3e%3c/path%3e%3cpath d='M1207.471863442811 250L1440 17.47186344281093L1440 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1009%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 250L232.52813655718907 250L 0 17.47186344281093z' fill='url(%26quot%3b%23SvgjsLinearGradient1010%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1007'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='20.66%25' y1='-119%25' x2='79.34%25' y2='219%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1008'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1009'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1010'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"););
}

h1,h2 {
/* comme-regular - latin */

  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Comme', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  src: url('../fonts/comme-v4-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

p {
/* encode-sans-semi-condensed-regular - latin */

  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1em;
  src: url('../fonts/encode-sans-semi-condensed-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */

}

.gridContainer {
	display: grid;
	
	border-radius: 5px;
	width: cover;
	height: cover;
	grid-template-columns: repeat(3, 1fr); /* This sets teh grid to 3 columns for every row */
	align-content: center;
	gap: .5%;
}

.box {
	color: black; /* changes the box color*/
	border-radius: 5px;
	border: 4px black solid;
	text-align: center; /* aligns text to center inside the box */
}