h1,h2,h3 {
.roboto-<uniquifier> 
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

p {

.elms-sans-<uniquifier> 
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.sidebar {
  width: 30%;
  float: right;
  margin: 10px;
  background-color: rgb(30,235,199);
  padding: 10px 20px;
  border: 1px dotted rgb(252,101,18);
  border-top: 20px solid rgb(0,0,0);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.5);
}